<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>

        {{- partial "header.html" . -}}

        <div class="container-fluid">
            <div class="row">

                <div class="docs-sidenav order-0 col-12 col-md-3 col-lg-2 col-xl-2 position-sticky border-right">

                    {{ if or (.Site.Params.aads.top) (.Site.Params.donate) }}
                        <div class="navbar-expand-md">
                            <div class="navbar-toggler" style="float: right">
                                {{ if .Site.Params.donate }}
                                    <div>
                                        {{ if .Site.Params.donate.paypal }}
                                            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business={{ .Site.Params.donate.paypal }}"><img src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" alt="Donate with PayPal or card" width="74" height="21" /></a>
                                        {{ end }}
                                        {{ if .Site.Params.donate.bitcoin }}
                                            <i class="fab fa-btc"></i> <span style="font-size: x-small">{{ .Site.Params.donate.bitcoin }}</span>
                                        {{ end }}
                                    </div>
                                {{ end }}
                                {{ if .Site.Params.aads.top }}
                                    {{ if .Site.Params.aads.notice }}
                                        <div><a style="font-size: x-small" href="{{ relref . .Site.Params.aads.notice.link }}">{{ .Site.Params.aads.notice.msg }}</a></div>
                                    {{ end }}
                                    <iframe data-aa="{{ .Site.Params.aads.id }}" src="//ad.a-ads.com/{{ .Site.Params.aads.id }}?size={{ .Site.Params.aads.top.width }}x{{ .Site.Params.aads.top.height }}" scrolling="no" style="width:{{ .Site.Params.aads.top.width }}px; height:{{ .Site.Params.aads.top.height }}px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
                                {{ end }}
                            </div>
                        </div>
                    {{ end }}

                    {{- partial "menu.html" . -}}

                    {{ if and (.Site.Params.donate) (or (eq .Site.Params.donate.side "left") (eq .Site.Params.donate.side "both")) }}
                        <div class="donate navbar-expand-md">
                            <div class="collapse navbar-collapse">
                                <div class="d-block">
                                    <hr />
                                    {{ if .Site.Params.donate.paypal }}
                                        <div><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business={{ .Site.Params.donate.paypal }}"><img src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" alt="Donate by card" /></a></div>
                                    {{ end }}
                                    {{ if .Site.Params.donate.bitcoin }}
                                        <div><i class="fab fa-btc"></i> <span style="font-size: x-small">{{ .Site.Params.donate.bitcoin }}</span></div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                    {{ if .Site.Params.aads.left }}
                        <div class="ads navbar-expand-md">
                            <div class="collapse navbar-collapse">
                                <div class="d-block">
                                    <hr />
                                    {{ if .Site.Params.aads.notice }}
                                        <div class="ads-notice"><a href="{{ relref . .Site.Params.aads.notice.link }}">{{ .Site.Params.aads.notice.msg }}</a></div>
                                    {{ end }}
                                    <iframe data-aa="{{ .Site.Params.aads.id }}" src="//ad.a-ads.com/{{ .Site.Params.aads.id }}?size={{ .Site.Params.aads.left.width }}x{{ .Site.Params.aads.left.height }}" scrolling="no" style="width:{{ .Site.Params.aads.left.width }}px; height:{{ .Site.Params.aads.left.height }}px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>

                {{- if and (ne .Site.Params.toc false) (ne .Params.toc false) }}
                <div class="docs-toc large order-lg-2 order-md-0 order-xs-1 col-12 col-lg-2 col-xl-2 position-sticky border-left">
                    {{- partial "tableofcontents.html" . -}}
                </div>
                <div class="main col-12 order-1 col-md-9 col-lg-10 col-xl-8 py-3">
                {{else}}
                <div class="main col-12 order-1 col-md-9 col-lg-10 col-xl-10 py-3">
                {{end}}

                    {{- block "main" . }}{{- end }}
                    
                    <div class="row">
                        {{- if and (ne .Site.Params.disableReadmoreNav true) (ne .Params.disableReadmoreNav true) -}}
                        <div class="position-relative mx-auto col-lg-9">
                          {{ partial "next-prev-page.html" . }}
                        </div>
                        {{- end -}}
                    </div> <!-- /end of row -->

                </div>

            </div> <!-- /end of row -->

        </div> <!-- /end of container -->

        {{- partial "footer.html" . -}}

    </body>
</html>
